# Telco Churn Draft Notebook

In [1]:
# Importing neccessary libraries and modules
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import export_graphviz
from sklearn.metrics import confusion_matrix
from acquire import get_telco_data, summarize_df
from prepare import num_distributions, prep_telco
import graphviz
from graphviz import Graph
import warnings
warnings.filterwarnings('ignore')
import explore

## Hypotheses and Hypothesis Testing
### Initial Hypothesis
- $H_{i}$: Fiber optic customers whos tenure is less than one year

## Acquisition
- Acquire uncleaned `telco_churn` dataset
- Garner basic understanding of dataset using functions from `acquire.py` such as shape, info, describe, etc.
- Create basic distributions of numeric columns

In [2]:
# Pull df from acquire.py and look at the first few entries using df.head()
unclean_telco = get_telco_data()
unclean_telco.head(10).T

,0,1,2,3,4,5,6,7,8,9
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ,0013-MHZWF,0013-SMEOE,0014-BMAQU,0015-UOCOJ,0016-QLJIS
gender,Female,Male,Male,Male,Female,Female,Female,Male,Female,Female
senior_citizen,0,0,0,1,1,0,1,0,1,0
partner,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes
dependents,Yes,No,No,No,No,Yes,No,No,No,Yes
tenure,9,9,4,13,3,9,71,63,7,65
phone_service,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No,No,No,Yes,No,Yes
internet_service_type_id,1,1,2,2,2,1,2,2,1,1
online_security,No,No,No,No,No,No,Yes,Yes,Yes,Yes
online_backup,Yes,No,No,Yes,No,No,Yes,No,No,Yes
device_protection,No,No,Yes,Yes,No,No,Yes,No,No,Yes
tech_support,Yes,No,No,No,Yes,Yes,Yes,Yes,No,Yes
streaming_tv,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes
streaming_movies,No,Yes,No,Yes,No,Yes,Yes,No,No,Yes
contract_type_id,2,1,1,1,1,1,3,3,1,3
paperless_billing,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
payment_type_id,2,2,1,1,2,4,3,4,1,2
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9
churn,No,No,Yes,Yes,Yes,No,No,No,No,No

In [3]:
# High level summary of data including value_counts, dtypes, 
summarize_df(unclean_telco)

This dataframe has 7043 rows and 21 columns.
------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   object
 7   multiple_lines            7043 non-null   object
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
dtypes: float64(1), int64(5), object(15)
memory usage: 1.1+ MB
None
------------------------

0002-ORFBO    1
6616-AALSR    1
6625-UTXEW    1
6625-IUTTT    1
6625-FLENO    1
             ..
3352-RICWQ    1
3352-ALMCK    1
3351-NQLDI    1
3351-NGXYI    1
9995-HOTOH    1
Name: customer_id, Length: 7043, dtype: int64
Male      3555
Female    3488
Name: gender, dtype: int64
0    5901
1    1142
Name: senior_citizen, dtype: int64
No     3641
Yes    3402
Name: partner, dtype: int64
No     4933
Yes    2110
Name: dependents, dtype: int64
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64
Yes    6361
No      682
Name: phone_service, dtype: int64
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
116.55     1
106.85     1
68.55      1
108.80     1
67.85      1
Name: monthly_charges, Length: 1585, dtype: int64
           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: total_charges, Length: 6531, dtype: int64
No     5174
Yes    1869
Name: churn, dtype: int64
------------------------

                           count       mean        std    min   25%    50%  \
senior_citizen            7043.0   0.162147   0.368612   0.00   0.0   0.00
tenure                    7043.0  32.371149  24.559481   0.00   9.0  29.00
internet_service_type_id  7043.0   1.872923   0.737796   1.00   1.0   2.00
contract_type_id          7043.0   1.690473   0.833755   1.00   1.0   1.00
payment_type_id           7043.0   2.315633   1.148907   1.00   1.0   2.00
monthly_charges           7043.0  64.761692  30.090047  18.25  35.5  70.35

                            75%     max  range
senior_citizen             0.00    1.00    1.0
tenure                    55.00   72.00   72.0
internet_service_type_id   2.00    3.00    2.0
contract_type_id           2.00    3.00    2.0
payment_type_id            3.00    4.00    3.0
monthly_charges           89.85  118.75  100.5

### Pre-cleaning extrapolations
- Lots of variables need encoding.
- Unneccesary columns such as `customer_id`
- See <a href="placeholder.com">README.md</a> for data dictionary that explains each variable
- Non-normal distributions for numeric categories.

## Preparation
- Clean data using the <a href="placeholder.com">prepare.py</a> functions `prep_telco()`
- Split data into train, validate, and test sets
-

In [4]:
train, validate, test = prep_telco(get_telco_data())
train.shape, validate.shape, test.shape

((3937, 20), (1688, 20), (1407, 20))

In [6]:
train

,is_male,senior_citizen,has_partner,has_dependents,tenure,has_phone,has_multi_line,internet_service_type_id,has_onl_sec,has_backup,has_dev_pro,has_tech_supp,has_tv_strm,has_mv_strm,contract_type_id,has_pprless_bill,payment_type_id,monthly_charges,total_charges,has_churned
5919,0,0,0,0,58,1,1,1,1,1,1,1,0,0,2,1,4,71.10,4299.2,0
1915,1,0,0,1,71,1,1,2,1,1,0,0,0,0,2,1,4,85.45,6028.95,0
5054,0,0,1,1,35,1,1,3,0,0,0,0,0,0,1,1,1,25.75,882.55,0
2355,1,0,1,1,1,1,0,3,0,0,0,0,0,0,1,0,2,19.20,19.2,0
6279,1,1,0,0,20,1,0,1,1,0,0,1,0,0,2,0,2,54.00,1055.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,0,0,0,0,24,1,1,2,0,0,1,0,1,0,1,1,4,88.95,2072.75,0
3763,0,0,1,1,10,1,1,2,1,0,0,0,1,1,1,1,1,100.25,1064.65,1
3444,0,0,1,1,22,1,1,3,0,0,0,0,0,0,3,0,4,25.25,555.4,0
1002,1,0,0,1,22,1,1,2,0,1,0,0,1,0,1,1,4,89.10,1949.4,0
4192,1,0,0,0,2,1,0,3,0,0,0,0,0,0,1,0,2,20.05,42.7,0

In [12]:
import itertools

features = ["monthly_charges", "tech_support", "internet_service_type_id", "tenure"]
            
possible_combinations = []
            
for i in range(2, len(features) + 1):
    possible_combinations.extend(list(itertools.combinations(features, i)))

possible_combinations

[('monthly_charges', 'tech_support'),
 ('monthly_charges', 'internet_service_type_id'),
 ('monthly_charges', 'tenure'),
 ('tech_support', 'internet_service_type_id'),
 ('tech_support', 'tenure'),
 ('internet_service_type_id', 'tenure'),
 ('monthly_charges', 'tech_support', 'internet_service_type_id'),
 ('monthly_charges', 'tech_support', 'tenure'),
 ('monthly_charges', 'internet_service_type_id', 'tenure'),
 ('tech_support', 'internet_service_type_id', 'tenure'),
 ('monthly_charges', 'tech_support', 'internet_service_type_id', 'tenure')]

In [ ]:
for combination in possible_combinations:
    features = list(combination)
    model = model.fit(X_train[[features]])
    # then continue on with your model evaluation